/* footer */

@charset "utf-8";
/* footer */

footer {
    width: 100%;
    /*height: 240px;*/
    background-color: #00157d;
    color: #fff;
}

footer .inner_footer {
    width: 1200px;
    margin: 0 auto;
}

footer .inner_footer .footer_top {
    padding-top: 40px;
}

footer .inner_footer .footer_top img {
    float: left;
    height: 70px;
    margin-top: 10px;
}

footer .inner_footer .footer_top p {
    float: left;
    margin-left: 40px;
}
footer .inner_footer .footer_top p span {
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin-bottom:  10px;
}

footer .inner_footer .footer_bottom {
    border-top: 1px solid #fff;
    /*margin-top: 60px;*/
    margin-top: 40px;
}
footer .inner_footer .footer_bottom p {
    padding: 40px 0 60px;
}



